name: Deployment

on:
  push:
    branches:
      - main
      - dev

env:
  MONGODB_DB_NAME: ${{ secrets.MONGODB_DB_NAME }}
  PORT: ${{ secrets.PORT }}

jobs:
  test:
    env:
      MONGODB_USERNAME: ${{ secrets.MONGODB_USERNAME }}
      MONGODB_PASSWORD: ${{ secrets.MONGODB_PASSWORD }}
      MONGODB_CLUSTER_ADDRESS: ${{ secrets.MONGODB_CLUSTER_ADDRESS}}

    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6

      - name: Cache Dependencies
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: npm-deps-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run server
        run: npm start & npx wait-on http://localhost:$PORT

      - name: Run tests
        run: npm test

      - name: Output information
        run: |
          echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Get Code
        uses: actions/checkout@v6

      - name: Cache Dependencies
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: npm-deps-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run server
        run: npm start & npx wait-on http://localhost:$PORT

      - name: Run tests
        run: npm test

      - name: Output information
        run: |
          echo "MONGODB_NAME: ${{ env.MONGODB_DB_NAME }}"
